@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
* {
  border-color: hsl(var(--border));
}

body {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}